  
  /* Sidebar */
  .sidebar {
    min-height: calc(100vh - 70px);
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    padding: 0;
    width: 240px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: 6px 16px 31px -18px #b7bcd1;
    -webkit-box-shadow: 6px 16px 31px -18px #b7bcd1;
    -moz-box-shadow: 6px 16px 31px -18px #b7bcd1;
    -ms-box-shadow: 6px 16px 31px -18px #b7bcd1;
  }
  
  .sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
  }
  
  .sidebar .nav .nav-item {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
  }
  
  .sidebar .nav .nav-item .collapse {
    z-index: 999;
  }
  
  .sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    color: #000000;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1rem;
    line-height: 1;
    margin-right: 1.125rem;
    color: #000000;
  }
  
  .rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-left: 2rem;
    margin-right: 0;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-arrow {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0;
    color: #686868;
  }
  
  .rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
    margin-left: 0;
    margin-right: auto;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\F140";
    font-family: "Material Design Icons";
    font-style: normal;
    display: block;
    font-size: 1rem;
    line-height: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
  }
  
  .sidebar .nav .nav-item .nav-link .badge {
    margin-left: auto;
  }
  
  .rtl .sidebar .nav .nav-item .nav-link .badge {
    margin-left: 0;
    margin-right: auto;
  }
  
  .sidebar .nav .nav-item .nav-link[aria-expanded="true"] i.menu-arrow:before {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .sidebar .nav .nav-item.active > .nav-link {
    background: initial;
    position: relative;
  }
  
  .sidebar .nav .nav-item.active > .nav-link .menu-title,
  .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
    color: #633e77;
  }
  
  .sidebar .nav .nav-item.active > .nav-link i {
    color: #633e77;
  }
  
  .sidebar .nav:not(.sub-menu) {
    margin-top: .5rem;
  }
  
  .sidebar .nav:not(.sub-menu) > .nav-item {
    margin-top: .625rem;
  }
  
  .sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
    margin: 0;
  }
  
  .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: rgba(99, 62, 119, 0.2);
    color: #000;
  }
  
  .sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 0.25rem 0 0 4.25rem;
  }
  
  .sidebar .nav.sub-menu .nav-item {
    padding: 0;
  }
  
  .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #656565;
    padding: 1rem 1rem;
    position: relative;
    font-size: 0.875rem;
    line-height: 1;
    height: auto;
    border-top: 0;
  }
  
  .sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #000;
  }
  
  .sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #000;
    background: transparent;
  }
  
  .sidebar .nav.sub-menu .nav-item:hover {
    background: transparent;
  }
  
  .sidebar-dark .sidebar {
    background: #2e2a31;
  }
  
  .sidebar-dark .sidebar .nav .nav-item .nav-link {
    color: #9b9b9b;
  }
  
  .sidebar-dark .sidebar .nav .nav-item .nav-link i {
    color: inherit;
  }
  
  .sidebar-dark .sidebar .nav .nav-item .nav-link i.menu-icon {
    color: #9b9b9b;
  }
  
  .sidebar-dark .sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
  }
  
  .sidebar-dark .sidebar .nav .nav-item.active > .nav-link {
    background: initial;
  }
  
  .sidebar-dark .sidebar .nav .nav-item.active > .nav-link .menu-title,
  .sidebar-dark .sidebar .nav .nav-item.active > .nav-link i {
    color: #ffffff;
  }
  
  .sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: initial;
    color: #d0cfcf;
  }
  
  .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #9b9b9b;
  }
  
  .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link:before {
    color: #b5b5b5;
  }
  
  .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #ffffff;
    background: transparent;
  }
  
  .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #e4e0e4;
  }
  
  .sidebar-dark .sidebar .nav.sub-menu .nav-item:hover {
    background: transparent;
  }
  
  /* style for off-canvas menu*/
  @media screen and (max-width: 991px) {
    .sidebar-offcanvas {
      position: fixed;
      max-height: calc(100vh - 70px);
      top: 70px;
      bottom: 0;
      overflow: auto;
      right: -240px;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    .sidebar-offcanvas.active {
      right: 0;
    }
  }